Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

Make dependency error banners red again
  app/assets/main.scss
  app/developers/templates/developers/deliver/macros/dependency_banner.html
Due: format-html

Bugfix: Raise error when adding multi AnyOf/Specifically conditions
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Fix references for none of the above
  app/common/data/models.py
  app/developers/data/grants.json
  tests/integration/common/data/test_models.py
Due: mypy

Add the 'view task' page
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-725: Create new DGF Form Runner instance
  app/common/collections/runner.py
  app/deliver_grant_funding/routes/__init__.py
  app/deliver_grant_funding/routes/runner.py
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/check_your_answers.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/collection_tasklist.html
  app/developers/deliver_routes.py
Due: mypy, format-html

Bit of thinking about surfacing grant names
  app/access_grant_funding/templates/access_grant_funding/base.html
  app/assets/main.scss
  app/common/templates/common/partials/navigation.html
  app/deliver_grant_funding/templates/deliver_grant_funding/base.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_base.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_details.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_setup/grant_change_ggis.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_team/grant_user_list.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_task.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/set_up_report.html
  app/developers/templates/developers/deliver/add_collection.html
  app/developers/templates/developers/deliver/grant_developers.html
Due: format-html

FSPT-727: Allow Grant Team Members to preview reports
  app/deliver_grant_funding/routes/runner.py
Due: mypy

FSPT-725: Hook up DGFFormRunner to Reports tab
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/helpers.py
  app/deliver_grant_funding/routes/misc.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/developers/deliver_routes.py
Due: mypy, format-html

FSPT-725: Add and update tests for preview report
  tests/integration/common/data/interfaces/test_collections.py
  tests/unit/test_all_routes_access.py
Due: mypy

Use default section when creating model collections
  tests/integration/common/helpers/test_collections.py
  tests/integration/test_fixtures.py
  tests/models.py
Due: mypy

FSPT-745 - list and view submissions
  app/common/data/interfaces/collections.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-728: move up/down for tasks and questions
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/developers/test_deliver_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

CHORE: fix gov uk frontend to supported jinja frontend version
  app/common/templates/common/base.html
  package-lock.json
  package.json
Due: format-html

Lift tasks out of summary card
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
Due: format-html

Export as CSV from the reports tab
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-727: Add and update tests for report previews
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/test_helpers.py
Due: mypy

Make data source item keys case insensitive
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/025_ds_item_key_case_insensitive.py
  app/common/data/models.py
Due: mypy

Make error summaries two-thirds width on some pages that were missing it
  app/developers/templates/developers/deliver/access_grant_funding_base.html
Due: format-html

Fix submission status on 'list submissions' page
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/026_remove_submission_status.py
  app/common/data/models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/models.py
Due: mypy, format-html

FSPT-605: rename question to component
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/common/data/interfaces/temporary.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/026_mv_question_component.py
  app/common/data/models.py
  app/common/data/types.py
  tests/models.py
Due: mypy

Tweak content on task questions page
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: format-html

FSPT-605: make type column migration more resilient
  app/common/data/migrations/versions/026_mv_question_component.py
Due: mypy

FSPT-605: add group component type
  app/common/data/models.py
  app/common/data/types.py
Due: mypy

FSPT-605: add group interface
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/027_add_group_type.py
  app/common/data/models.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-605: review comments reflect typing in groups
  app/common/data/models.py
Due: mypy

FSPT-605: squash: appease ty
  app/common/data/migrations/versions/027_add_group_type.py
Due: mypy

FSPT-605: read nested schema, loaders for consistent parsing
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/helpers/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-605: add coverage for nested question properties
  app/common/data/models.py
  app/common/helpers/collections.py
  tests/conftest.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-605: allow adding flat questions to groups
  app/common/data/interfaces/collections.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
Due: mypy, format-html

FSPT-605: add group handler and template support
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-605: don't rely on template context for macros
  app/common/templates/common/macros/move-up-down-table.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
Due: format-html

FSPT-744: add/edit question pages in reports tab
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/e2e/developer_pages.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/developers/test_deliver_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Fix missing self params in tests
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-744: add+edit conditions and validation
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_render_managed_expression_form.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_validation.html
  app/developers/deliver_routes.py
  app/developers/forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Fix submission status on 'list submissions' page
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/028_remove_submission_status.py
  app/common/data/models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/models.py
Due: mypy, format-html

FSPT-605: rename interface methods that act on groups and questions
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/developers/deliver_routes.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
