Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip: ["mypy", "format-html"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.3
    hooks:
      - id: import-linter

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [python]
        entry: uv run mypy
        pass_filenames: false
      - id: format-html
        name: Format Jinja HTML templates with Prettier
        entry: make format-html
        language: node
        files: \.html$
        additional_dependencies:
          - 'prettier@3.6.2'
          - 'prettier-plugin-jinja-template@2.1.0'
        pass_filenames: false

remove dev deploy from main pipeline
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

FSPT-517: deploy to test and prod in main pipeline (not dev) (#616)
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

Bump ty to latest version
  pyproject.toml
  uv.lock
Due: none

FSPT-606: manage if a question with dependencies in a group get deleted
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy, format-html

FSPT-606: update dependency order check to guard against groups
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-606: edit/ manage group page
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/add_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/add_question_condition_select_question.html
  app/developers/templates/developers/deliver/choose_question_type.html
  app/developers/templates/developers/deliver/edit_group.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_question_condition_select_condition_type.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-604: manage group display options page
  app/common/data/interfaces/collections.py
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_group.html
  app/developers/templates/developers/deliver/manage_group_display_options.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Add GOV.UK Markdown conversion via mistune
  app/__init__.py
  app/common/markdown.py
  app/extensions/__init__.py
  pyproject.toml
  uv.lock
Due: mypy

Allow form designers to add guidance to questions
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/031_support_guidance.py
  app/common/data/models.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Add GOV.UK Markdown conversion via mistune
  app/__init__.py
  app/common/markdown.py
  app/extensions/__init__.py
  pyproject.toml
  tests/unit/common/test_markdown.py
  uv.lock
Due: mypy

Allow form designers to add guidance to questions
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/031_support_guidance.py
  app/common/data/models.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/unit/common/test_markdown.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-604: form runner supports showing questions on the same page
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/data/models.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/routes/runner.py
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  app/developers/access_routes.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/access/ask_a_question.html
  app/developers/templates/developers/deliver/ask_a_question.html
  tests/integration/common/collections/test_forms.py
  tests/integration/common/helpers/test_collections.py
  tests/models.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_runner.py
Due: mypy, format-html

WIP: FSPT-604: question list for same page groups check conditions
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
Due: mypy, format-html

WIP: FSPT-604: integrity checks for showing questions on the same page
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
Due: mypy

Hide conditional tags for grant team members
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: format-html

Hide 'add another' button for grant team members
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: format-html

Lift GOV.UK Form's markdown editor toolbar
  .github/workflows/build_and_test.yml
  .prettierignore
  app/assets/css/markdown-editor-component/_index.scss
  app/assets/images/markdown-editor-bullet-list.svg
  app/assets/images/markdown-editor-h2.svg
  app/assets/images/markdown-editor-h3.svg
  app/assets/images/markdown-editor-link.svg
  app/assets/images/markdown-editor-numbered-list.svg
  app/assets/js/markdown-editor-toolbar/index.js
  app/assets/js/markdown-editor-toolbar/index.test.js
  app/assets/js/paste-html-to-markdown/__fixtures__/ms-word-2016-comments.html
  app/assets/js/paste-html-to-markdown/__fixtures__/ms-word-2016-nested-list.html
  app/assets/js/paste-html-to-markdown/__fixtures__/ms-word-2016-ordered-list.html
  app/assets/js/paste-html-to-markdown/__fixtures__/ms-word-2016-unordered-list.html
  app/assets/js/paste-html-to-markdown/html-to-markdown.js
  app/assets/js/paste-html-to-markdown/html-to-markdown.test.js
  app/assets/js/paste-html-to-markdown/index.js
  app/assets/js/paste-html-to-markdown/index.test.js
  app/assets/js/paste-html-to-markdown/replace-bullet-characters.js
  app/assets/js/paste-html-to-markdown/replace-bullet-characters.test.js
  app/assets/main.js
  app/assets/main.scss
  app/assets/test/setup.js
  app/assets/test/test-helpers.js
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  package-lock.json
  package.json
  vite.config.js
Due: format-html

Convert HTML bullets to asterisks in form runner
  app/assets/main.js
  app/common/templates/common/macros/collections.html
Due: format-html

WIP: FSPT-604: change group name page
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_group.html
  app/developers/templates/developers/deliver/manage_group.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Fix button titles/labels
  app/assets/js/markdown-editor-toolbar/index.js
Due: none

Update content for question guidance
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
Due: mypy, format-html

Revert "Update pre-commit hook seddonym/import-linter to v2.4 (#661)"
  .pre-commit-config.yaml
Due: none

Update minimum uv version for py3.13.7
  pyproject.toml
Due: none

Copy ajax-markdown-preview from GOV.UK Forms
  app/assets/js/ajax-markdown-preview/index.js
  app/assets/js/ajax-markdown-preview/index.test.js
  app/assets/js/utils/debounce/index.js
  app/assets/js/utils/debounce/index.test.js
  app/assets/main.js
  package-lock.json
  package.json
Due: none

Create our own copy of the GOV.UK Tabs component
  app/common/templates/common/govuk/tabs/macro.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
Due: format-html

Add live guidance previews
  app/__init__.py
  app/assets/js/ajax-markdown-preview/index.js
  app/assets/js/ajax-markdown-preview/index.test.js
  app/common/api_routes.py
  app/common/auth/authorisation_helper.py
  app/common/forms/__init__.py
  app/common/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/common/test_api_routes.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/common/auth/test_authorisation_helper.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Add cancel link to guidance page
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
Due: format-html

BAU: Update flask version in uv.lock
  uv.lock
Due: none

FSPT-747: Replicate dev e2e test for Reports tab
  tests/e2e/pages.py
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

FSPT-747: Fail e2e test if new question type added
  tests/e2e/test_create_preview_collection.py
Due: mypy

FSPT-747: Add advanced formatting opts to e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

FSPT-751: use session instead of args for question group setup flow
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

FSPT-751: question table group styles
  app/assets/main.scss
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

FSPT-751: change group display option pages
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-751: list group questions page
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-751: move question table out to macro
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: format-html
