Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

FSPT-781: Add context for date managed expressions
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
Due: mypy, format-html

use cache image for pack build
  .github/workflows/package.yml
Due: none

use tag for cache image
  .github/workflows/package.yml
  .vscode/settings.json
Due: none

FSPT-781: refactor and standardise context in expressions
  app/common/expressions/forms.py
  app/common/expressions/managed.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
  tests/e2e/reports_pages.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/utils.py
Due: mypy, format-html

FSPT-781: Only show relevant expression fields
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
Due: format-html

FSPT-781: Show highlighted human readable labels for context in conditions and validations
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
Due: mypy, format-html

FSPT-781: Interpolate condition and validation messages
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: mypy, format-html

Adding unit test (in integration because of all the db stuff involved with the factories) for existing function as-is
  tests/integration/common/helpers/test_collections.py
Due: mypy

FSPT-883: update get answer for question to read at index
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/common/qid.py
  tests/integration/common/helpers/test_collections.py
Due: mypy

FSPT-883: coverage for add another form and expression context
  tests/integration/common/helpers/test_collections.py
Due: mypy

heroku pack build optimisations
  .github/workflows/package.yml
  .python-version
  .vscode/settings.json
  project.toml
Due: none

add image cache
  .github/workflows/package.yml
Due: none

try setting pull-policy
  .github/workflows/package.yml
Due: none

use separate build and launch caches
  .github/workflows/package.yml
Due: none

remove duplicate cache image
  .github/workflows/package.yml
Due: none

use github cache for layers
  .github/workflows/package.yml
Due: none

rename step
  .github/workflows/package.yml
Due: none

remove caches
  .github/workflows/package.yml
Due: none

FSPT-781: Integrate add context flow for GreaterThan
  app/common/expressions/forms.py
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
Due: mypy, format-html

FSPT-781: small refactorings
  app/common/expressions/forms.py
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
Due: mypy

FSPT-781: Add context for LessThan & Between
  app/common/expressions/managed.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
Due: mypy, format-html

heroku pack build optimisations
  .github/workflows/package.yml
  project.toml
Due: none

FSPT-781: Refactor and standardise context in expressions
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/utils.py
Due: mypy, format-html

FSPT-781: Allow custom templates for managed expression form rendering
  app/common/expressions/managed.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
Due: mypy, format-html

Update pythonjsonlogger for rename from 4.0 release
  app/logging.py
Due: mypy

Running the new prettier formatting on affected files
  app/assets/css/context-aware-editor/_index.scss
  app/assets/js/ajax-markdown-preview/index.js
  app/assets/js/ajax-markdown-preview/index.test.js
  app/assets/js/context-aware-editor/highlighting.js
  app/assets/js/context-aware-editor/index.js
  app/assets/js/context-aware-editor/index.test.js
  app/assets/js/context-aware-editor/toolbar.js
  app/assets/js/paste-html-to-markdown/html-to-markdown.js
  app/assets/js/paste-html-to-markdown/html-to-markdown.test.js
  app/assets/js/paste-html-to-markdown/index.js
  app/assets/js/paste-html-to-markdown/index.test.js
  app/assets/js/paste-html-to-markdown/replace-bullet-characters.js
  app/assets/js/paste-html-to-markdown/replace-bullet-characters.test.js
  app/assets/js/textarea-no-newlines/index.js
  app/assets/js/textarea-no-newlines/index.test.js
  app/assets/js/utils/debounce/index.js
  app/assets/js/utils/debounce/index.test.js
  app/assets/main.js
  app/assets/main.scss
  app/assets/test/setup.js
  app/assets/test/test-helpers.js
  vite.config.js
Due: none

Adding formatting of frontend files to pre-commit
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  Makefile
Due: none

Adding the previous commit (da882497a948b394bbfb5a5bb8af878cdd0f006e) to the git-blame-ignore-revs list as it is only formatting changes
  .git-blame-ignore-revs
Due: none

Updating the formatting of group names, and nested groups, on the list of questions to better highlight a group and the items within it
  app/assets/main.scss
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

Bugfix: Update Guidance template for inserting context
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
Due: mypy, format-html

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
