Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip: ["mypy", "format-html"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.3
    hooks:
      - id: import-linter

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [python]
        entry: uv run mypy
        pass_filenames: false
      - id: format-html
        name: Format Jinja HTML templates with Prettier
        entry: make format-html
        language: node
        files: \.html$
        additional_dependencies:
          - 'prettier@3.6.2'
          - 'prettier-plugin-jinja-template@2.1.0'
        pass_filenames: false

Bump to ty 0.0.1a16
  app/common/expressions/__init__.py
  pyproject.toml
  uv.lock
Due: mypy

FSPT-605: rename question to component
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/common/data/interfaces/temporary.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/021_mv_question_component.py
  app/common/data/models.py
  app/common/data/types.py
  tests/models.py
Due: mypy

Fetch grant to trigger 404s; better than 403s
  app/common/auth/decorators.py
  tests/integration/common/auth/test_decorators.py
Due: mypy

Fix `is_grant_admin` for platform admin users
  app/common/auth/authorisation_helper.py
  tests/unit/common/auth/test_authorisation_helper.py
Due: mypy

Remove workaround
  tests/conftest.py
Due: mypy

Commit related models from the collection factory
  tests/models.py
Due: mypy

Implement 'reports' tab for a grant
  app/common/auth/decorators.py
  app/common/data/interfaces/grants.py
  app/deliver_grant_funding/routes/__init__.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_base.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  tests/integration/deliver_grant_funding/routes/test_misc.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
  tests/utils.py
Due: mypy, format-html

Allow platform admins to downgrade to grant team members
  app/developers/deliver_routes.py
  app/developers/forms.py
  app/developers/templates/developers/deliver/grant_developers.html
Due: mypy, format-html

Move tests to match refactored DGF files
  .idea/funding-service.iml
  tests/integration/deliver_grant_funding/__init__.py
  tests/integration/deliver_grant_funding/routes/__init__.py
  tests/integration/deliver_grant_funding/routes/test_grant_details.py
  tests/integration/deliver_grant_funding/routes/test_grant_setup.py
  tests/integration/deliver_grant_funding/routes/test_grant_team.py
  tests/integration/deliver_grant_funding/routes/test_misc.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/integration/developers/__init__.py
  tests/integration/developers/test_deliver_routes.py
Due: mypy

Finish bumping ty to 0.16
  app/common/expressions/__init__.py
Due: mypy

Add types to split collections
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/021_add_collection_type.py
  app/common/data/models.py
  app/common/data/types.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/developers/data/grants.json
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/grant_developers.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy, format-html

Make alembic-postgresql-enum a core dependency
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/022_force_migrations.py
  pyproject.toml
  uv.lock
Due: mypy

FSPT-720 create monitoring reports
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/set_up_report.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-721: manage collections
  app/common/data/interfaces/collections.py
  app/common/forms/__init__.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/set_up_report.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-723: create 'add task' page
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_task.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-727: Add 'CHECKBOXES' to QuestionDataType enum
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/023_add_checkbox_question_type.py
  app/common/data/types.py
Due: mypy

FSPT-727: Add Checkbox Question Type
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/data/models.py
  app/common/forms/fields.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/common/templates/common/partials/answers/multiple_choice_from_list.html
  app/config.py
  app/deliver_grant_funding/forms.py
  app/developers/data/grants.json
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/edit_question.html
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy, format-html

FSPT-727: Add & update tests and factories for checkboxes
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/developers/test_deliver_routes.py
  tests/integration/test_fixtures.py
  tests/models.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_types.py
  tests/unit/common/forms/test_fields.py
  tests/unit/common/forms/test_validators.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

FSPT-727: Add fallback validator for checkbox final options
  app/common/collections/forms.py
  app/common/forms/validators.py
Due: mypy

FSPT-723: 'List report tasks' page
  app/common/data/interfaces/collections.py
  app/common/utils.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_task.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/types.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Hide 'add another task' link for grant members
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-724: manage tasks in a report
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_form.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Fix log message and add test
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Tweak content to match prototype
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/developers/templates/developers/deliver/grant_developers.html
Due: format-html

FSPT-727: Add Specifically mgd expression for checkboxes
  app/common/collections/types.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/024_add_specifically_mgd_exp.py
  app/common/data/types.py
  app/common/expressions/managed.py
  app/developers/data/grants.json
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/expressions/test_managed.py
  tests/integration/common/expressions/test_registry.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/developers/test_deliver_routes.py
  tests/models.py
Due: mypy

FSPT-727: Add checkboxes question to e2e tests
  app/common/templates/common/partials/answers/multiple_choice_from_list.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

show/hide move up/down links
  app/assets/main.scss
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
Due: format-html

Tweak page designs
  app/assets/main.scss
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_report_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/manage_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/manage_question_validation.html
  app/developers/templates/developers/deliver/manage_section.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Update developer pages to match reports designs
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

Remove unused deletion form
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Fix no move up/down actions
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
Due: format-html
