Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

FSPT-883: update get answer for question to read at index
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/common/qid.py
  tests/integration/common/helpers/test_collections.py
Due: mypy

Adding unit test (in integration because of all the db stuff involved with the factories) for existing function as-is
  tests/integration/common/helpers/test_collections.py
Due: mypy

FSPT-883: coverage for add another form and expression context
  tests/integration/common/helpers/test_collections.py
Due: mypy

WIP: add another list of answers interface
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/common/qid.py
  tests/integration/common/helpers/test_collections.py
Due: mypy

Suggested change of parameter name to improve readability: collection_question_limit -> expression_context_end_point
  app/common/expressions/__init__.py
  app/deliver_grant_funding/routes/reports.py
Due: mypy

Remove local variable 'fallback_question_names' in favour of checking 'mode' directly, improves readability
  app/common/expressions/__init__.py
Due: mypy

FSPT-781: Allow contextual data in managed expressions
  app/common/collections/forms.py
  app/common/expressions/forms.py
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
  tests/e2e/reports_pages.py
Due: mypy, format-html

FSPT-781: Fix session overlap and context source templaets
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source_question.html
Due: mypy, format-html

Rename labels to "Reference data" for new content
  app/assets/main.scss
  app/common/expressions/managed.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between_dates.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_after.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/is_before.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source_question.html
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy, format-html

FSPT-883: represent add another form and submission data as lists
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/common/qid.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-901: Bootstrap Flask-Admin for platform admin pages
  app/__init__.py
  app/common/auth/authorisation_helper.py
  app/deliver_grant_funding/admin/__init__.py
  app/deliver_grant_funding/admin/entities.py
  app/deliver_grant_funding/admin/mixins.py
  app/deliver_grant_funding/routes/admin.py
  pyproject.toml
  tests/integration/deliver_grant_funding/routes/test_admin.py
  tests/unit/test_all_routes_access.py
  uv.lock
Due: mypy

Increasing slowness timeout as it's getting annoying. May not keep this commit
  tests/integration/conftest.py
Due: mypy

Small readme update
  README.md
Due: none

Add interpolation highlighting for form builder
  app/assets/css/context-aware-editor/_index.scss
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/common/expressions/test_expressions.py
Due: mypy, format-html

Allow commas when entering integers
  app/common/collections/forms.py
  app/common/forms/fields.py
  tests/integration/common/collections/test_forms.py
Due: mypy

Highlighting data references in guidance previews
  app/common/expressions/__init__.py
  app/deliver_grant_funding/routes/api.py
  app/deliver_grant_funding/types.py
  tests/integration/deliver_grant_funding/routes/test_api_routes.py
  tests/unit/common/expressions/test_expressions.py
Due: mypy

FSPT-781: Remove redundant form rebuilding
  app/deliver_grant_funding/routes/reports.py
Due: mypy

FSPT-781: Create select_context_source macros
  app/__init__.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/select_context_source_header_caption.html
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/select_context_source_return_url.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source_question.html
Due: mypy, format-html

FSPT-781: Simplify is_submitted_to_add_context check
  app/common/expressions/forms.py
Due: mypy

FSPT-781: Tests for reference data in expressions
  tests/integration/common/collections/test_forms.py
  tests/integration/common/expressions/test_init.py
  tests/integration/common/expressions/test_managed.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/common/expressions/test_expressions.py
  tests/unit/common/expressions/test_forms.py
Due: mypy

FSPT-781: Refactor session model type checking
  app/deliver_grant_funding/routes/reports.py
Due: mypy

FSPT-781: Simplify referencing data in expressions
  app/common/expressions/forms.py
  app/deliver_grant_funding/routes/reports.py
Due: mypy

Fix ty check failures
  app/common/data/interfaces/collections.py
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-894: clean up add another expression context
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-894: move add another context logic into expression context
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  tests/integration/common/expressions/test_init.py
  tests/integration/common/helpers/test_collections.py
  tests/models.py
Due: mypy

FSPT-894: validate partial submission behaviour
  tests/integration/common/expressions/test_init.py
Due: mypy

FSPT-894: broad integration test for add another helper scenario
  tests/integration/common/helpers/test_collections.py
  tests/models.py
Due: mypy

FSPT-894: appease ty
  tests/models.py
Due: mypy

FSPT-894: update are all questions answered to check lists
  app/common/helpers/collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-894: clean up the all questions state
  app/common/helpers/collections.py
Due: mypy

FSPT-894: update all questions answered interface to not return answers
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

FSPT-894: are all questions answered only calculate context once per entry
  app/common/helpers/collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

BAU: Filter condition question select dropdown
  app/common/expressions/registry.py
  app/common/forms/helpers.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/common/expressions/test_registry.py
  tests/unit/common/forms/test_helpers.py
Due: mypy

integrate govuk-flask-admin theme
  app/__init__.py
  app/common/data/base.py
  app/deliver_grant_funding/admin/entities.py
  pyproject.toml
  tests/unit/test_all_routes_access.py
  uv.lock
Due: mypy

Add stub admin views for org/userrole/collection
  app/deliver_grant_funding/admin/__init__.py
  app/deliver_grant_funding/admin/entities.py
  pyproject.toml
  tests/unit/test_all_routes_access.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
