Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

FSPT-751: fixup showing the appropriate move up/ down links
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

FSPT-751: address review comments
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/developers/test_deliver_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-751: change group name pages
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy, format-html

FSPT-751: add groups flow blocks duplicate names
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_group_display_options.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-751: group breadcrumbs on edit question page
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: format-html

FSPT-751: use explicit slug values for display options
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

FSPT-751: reports question table supports moving groups
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  tests/integration/developers/test_deliver_routes.py
Due: mypy, format-html

FSPT-751: serialise presentation options for adding groups
  app/common/data/interfaces/collections.py
  app/common/data/types.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-751: add group pages
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/developers/deliver_routes.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-751: update seed with group presentation options
  app/developers/data/grants.json
Due: none

FSPT-751: support deleting questions from groups and groups
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-751: form and group models expose all components
  app/common/data/models.py
  tests/models.py
  tests/unit/common/data/test_models.py
Due: mypy

FSPT-751: delete integrity checks extended for questions in groups
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

FSPT-751: update form runner to show questions on the same page
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/data/models.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  app/developers/templates/developers/access/ask_a_question.html
  app/developers/templates/developers/deliver/ask_a_question.html
  tests/integration/common/collections/test_forms.py
  tests/integration/common/data/test_models.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_runner.py
Due: mypy, format-html

FSPT-751: block switching to same page if group question dependencies
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

FSPT-751: integrity checks for changing group to same page
  app/common/data/interfaces/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-751: only show visible questions for a same page group
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  app/developers/templates/developers/deliver/manage_submission.html
  tests/models.py
  tests/unit/common/collections/test_runner.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

FSPT-751: ensure we have rolled back session on add condition
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-751: move group display integrity check into interface method
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-751: update integrity checks to compare moving groups
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-751: add conditions to the list group questions page
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-751: make conditional tag pink
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

FSPT-751: FIX: visually hidden text on question table
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

FSPT-751: update component order checks to use the global schema order
  app/common/data/interfaces/collections.py
  tests/e2e/reports_pages.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-751: mark util dependency check as internal
  app/common/data/interfaces/collections.py
Due: mypy

FSPT-751: make move/up down dependency banner specific to context
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
Due: mypy, format-html

FSPT-751: dependency banner question links factor in groups
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
Due: format-html

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
