Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

using a stable version
  .github/workflows/ci_ecr_deploy.yml
Due: none

edited the secrets
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

tetsing cli instead of the yml
  .github/workflows/ci_ecr_deploy.yml
Due: none

edited the yml file
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/package_push_ci.yml
Due: none

added the new deploy yml
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

edited the deploy yaml file
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

fixed yml syntax error
  .github/workflows/ci_ecr_deploy.yml
Due: none

cleaning up the code
  .github/workflows/ci_ecr_deploy.yml
Due: none

added ci_account
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

syntax errors
  .github/workflows/ci_ecr_deploy.yml
Due: none

edited to use steps
  .github/workflows/ci_ecr_deploy.yml
Due: none

edited the yaml file
  .github/workflows/ci_ecr_deploy.yml
Due: none

added new code to existing workflows
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/deploy.yml
  .github/workflows/package.yml
Due: none

added a new step to retrieve ARN
  .github/workflows/ci_ecr_deploy.yml
Due: none

new steps added
  .github/workflows/ci_ecr_deploy.yml
Due: none

removed extra lines
  .github/workflows/ci_ecr_deploy.yml
Due: none

removed a line
  .github/workflows/ci_ecr_deploy.yml
Due: none

new steps added to the yml file
  .github/workflows/ci_ecr_deploy.yml
Due: none

cleaning up the code
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/ci_ecr_deploy.yml
  .github/workflows/package_push_ci.yml
Due: none

fixed yaml syntax errors
  .github/workflows/ci_ecr_deploy.yml
Due: none

consolidated the workflows to accomodate CI AWS account
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/ci_ecr_deploy.yml
  .github/workflows/deploy.yml
  .github/workflows/package.yml
  .github/workflows/package_push_ci.yml
Due: none

added new step
  .github/workflows/ci_ecr_deploy.yml
Due: none

added the secret
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

edited the job bock
  .github/workflows/ci_ecr_deploy.yml
Due: none

Apply pre-commit hook fixes
  package-lock.json
  package.json
Due: none

Update ECS task to use image being deployed
  .github/workflows/deploy.yml
  scripts/update-ecs-task-image.py
Due: mypy

Apply pre-commit hook fixes
  .github/workflows/package.yml
Due: none

added specifc SHA to the actions
  .github/workflows/deploy.yml
  .github/workflows/package.yml
Due: none

Fix pre-commit whitespace and EOF formatting
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/deploy.yml
  .github/workflows/package.yml
Due: none

fix ecr action tag
  .github/workflows/package.yml
Due: none

Remove unused "edit section" endpoint
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_section.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_section.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Prioritise tasks over sections in form creation
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/templates/common/macros/collections.html
  app/config.py
  app/constants.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/select_form_type.html
  pyproject.toml
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

Make collection mgmt match section/task mgmt
  app/deliver_grant_funding/routes.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_section.html
  app/developers/templates/developers/deliver/collection_tasklist.html
  app/developers/templates/developers/deliver/edit_collection.html
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/list_sections.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  app/developers/templates/developers/deliver/manage_section.html
  app/developers/templates/developers/deliver/select_form_type.html
  tests/e2e/developer_pages.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Refactor the 'manage collection' page with no tasks
  app/constants.py
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/select_form_type.html
Due: mypy, format-html

Flatten manage/edit section
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_section.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_section.html
Due: mypy, format-html

Rationalise edit/manage naming
  app/deliver_grant_funding/routes.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/choose_question_type.html
  app/developers/templates/developers/deliver/edit_form.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  tests/integration/deliver_grant_funding/test_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Re-format and simplify new section button
  app/developers/templates/developers/deliver/manage_collection_tasks.html
Due: format-html

Allow moving tasks between sections
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_form.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

Tweak section/unsectioned behaviour
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_section.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/integration/test_fixtures.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Tweak content on "split form into sections" page
  app/developers/templates/developers/deliver/add_section.html
Due: format-html

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
