Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip: ["mypy", "format-html"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.3
    hooks:
      - id: import-linter

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [python]
        entry: uv run mypy
        pass_filenames: false
      - id: format-html
        name: Format Jinja HTML templates with Prettier
        entry: make format-html
        language: node
        files: \.html$
        additional_dependencies:
          - 'prettier@3.6.2'
          - 'prettier-plugin-jinja-template@2.1.0'
        pass_filenames: false

Ignore DeprecationWarning inside testcontainers
  pyproject.toml
Due: none

Adding default implementation for required_functions()
  app/common/expressions/managed.py
Due: mypy

Adding required_functions property to Expression model to simplify retrieving the required_functions for an expression. Updated tests accordingly
  app/common/data/models.py
  app/common/expressions/__init__.py
  tests/integration/common/expressions/test_init.py
Due: mypy

Allowing managed expressions to specify functions that can be called in their statement (#748)
  app/common/data/models.py
  app/common/expressions/__init__.py
  app/common/expressions/managed.py
  tests/integration/common/expressions/test_init.py
Due: mypy

Renaming the python field for Expression.type -> Expression.type_ to remove the collision with the builtin 'type'. Updated references and tests accordingly.
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  tests/integration/common/data/db/test_constraints.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/integration/common/expressions/test_init.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

Renaming the python field for Expression.type -> Expression.type_ to remove the collision with the builtin 'type'. Updated references and tests accordingly. (#754)
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  tests/integration/common/data/db/test_constraints.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/integration/common/expressions/test_init.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

Update type -> type_
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

Move Deliver grant funding to /deliver URL prefix
  app/deliver_grant_funding/routes/__init__.py
  tests/e2e/conftest.py
  tests/e2e/pages.py
  tests/e2e/test_sso_auth.py
  tests/integration/deliver_grant_funding/routes/test_misc.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/test_helpers.py
  tests/unit/services/test_notify.py
Due: mypy

Allowing additional formats so users can type the short or long name of the month
  app/common/collections/forms.py
Due: mypy

FSPT-770 First pass implementation of a date type question. Accepts the date using only numbers (eg. 01 03 2024), basic validation (data required) and no expressions.
  .vscode/launch.json
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/data/types.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/common/templates/common/partials/answers/date.html
Due: mypy, format-html

Using isoformat for text and json exports
  app/common/collections/types.py
Due: mypy

Adding the IsBefore and IsAfter expressions.
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/expressions/managed.py
  tests/integration/common/expressions/test_managed.py
Due: mypy

WIP: fixed text single line add another for submission and read
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
Due: mypy, format-html

Adding BetweenDates expression type
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/data/types.py
  app/common/expressions/managed.py
  tests/integration/common/expressions/test_managed.py
Due: mypy

Fixing existing tests with new question type
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/expressions/test_registry.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/test_fixtures.py
  tests/models.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_types.py
Due: mypy

Fix import-linter for CI
  .pre-commit-config.yaml
Due: none

FSPT-590: use accessible autocomplete for question conditions
  app/deliver_grant_funding/forms.py
Due: mypy

Address new warnings and deprecations
  vite.config.js
Due: none

Add a CfA sample grant+report based on mocked up mural
  app/developers/data/grants.json
Due: none

Adding validation to date field in e2e tests
  app/common/expressions/managed.py
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Fixing heading display for date question type
  app/common/templates/common/macros/collections.html
Due: format-html

Fixing ty checks: - Adding ignore unresolved-attribute to forms and migration file
  app/common/collections/forms.py
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/expressions/managed.py
Due: mypy

Basic date e2e test
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
  tests/e2e/test_create_preview_collection.py::test_create_and_preview_report
Due: mypy

removing bad file
  tests/e2e/test_create_preview_collection.py::test_create_and_preview_report
Due: none

FIX/ WIP: allow testcontainers to run in docker
  docker-compose.yml
Due: none

Fspt 770 date question type (#736)
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/expressions/managed.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/common/templates/common/partials/answers/date.html
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/expressions/test_managed.py
  tests/integration/common/expressions/test_registry.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/test_fixtures.py
  tests/models.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_types.py
Due: mypy, format-html

Remove unused override
  app/common/templates/common/macros/collections.html
Due: format-html

Refactor ExpressionContext
  app/common/collections/forms.py
  app/common/data/types.py
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  pyproject.toml
  tests/integration/common/expressions/test_init.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/expressions/test_expressions.py
  uv.lock
Due: mypy

Adding support for 'approximate date' in the advanced formatting options
  app/common/data/models.py
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/partials/_advanced_formatting_options.html
Due: mypy, format-html

Updating managed expressions for the date type to only ask for month/year dates if the date is approximate
  app/common/expressions/managed.py
Due: mypy

Fixing type errors - changed signature of get_form_fields() so that referenced_question is a mandatory parameter
  app/common/expressions/managed.py
Due: mypy

Using format_date_approximate filter in error messages
  app/common/expressions/managed.py
Due: mypy

First pass custom component to ask for just month and year, and then display that back in check your answers
  app/__init__.py
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/filters.py
  app/common/forms/fields.py
  app/common/helpers/collections.py
  app/common/templates/common/partials/answers/date.html
Due: mypy, format-html

Adding tests for approx date field
  app/common/expressions/managed.py
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
  tests/unit/common/forms/test_fields.py
Due: mypy
