Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

Remove unused section configuration
  app/config.py
Due: mypy

Remove unused forms
  app/deliver_grant_funding/forms.py
Due: mypy

Remove unused section functions
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/test_fixtures.py
Due: mypy

Remove section intermediary from tests
  app/deliver_grant_funding/routes/misc.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/unit/common/collections/test_runner.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Remove unused temporary interfaces
  app/common/data/interfaces/temporary.py
Due: mypy

Remove unused move-up-down-table.html
  app/common/templates/common/macros/move-up-down-table.html
Due: format-html

Strip sections concept out of the submissions helper
  .idea/funding-service.iml
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Ignore sections between Forms and Collections in queries
  .idea/funding-service.iml
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/grants.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Remove has_non_default_sections property
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Stop creating sections on collections
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/033_nullable_sections.py
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  tests/conftest.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/models.py
  tests/unit/common/collections/test_runner.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Ignore the section constraints
  app/common/data/interfaces/collections.py
Due: mypy

Remove the sections relationship and remove from exported grants
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/034_drop_all_sections.py
  app/common/data/models.py
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

FSPT-758: Drop the Sections table
  app/common/data/models.py
Due: mypy

FSPT-758: Drop the Sections table
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/035_remove_sections.py
Due: mypy

BAU: cache commonly accessed form properties for helpers
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/integration/common/expressions/test_registry.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/test_fixtures.py
  tests/unit/common/data/test_models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

BAU: other expensive helper method lru caches
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

BAU: cached properties for submission helper
  app/common/collections/runner.py
  app/common/helpers/collections.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

BAU: add lru caches to method
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/integration/common/helpers/test_collections.py
  tests/integration/test_fixtures.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

FSPT-761: dont lazy load expressions on form pages
  app/common/data/interfaces/collections.py
  app/common/helpers/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
Due: mypy

Prepare to squash all migrations
  app/common/data/migrations/versions/001_reset_migrations.py
Due: mypy

FIX: preview task back link should return you to the form builder
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/routes/runner.py
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Update current alembic head
  app/common/data/migrations/.current-alembic-head
Due: none

FSPT-747: Add Question Groups to reports tab e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Squash all migrations
  app/common/data/migrations/versions/001_bootstrap.py
  app/common/data/migrations/versions/001_reset_migrations.py
  app/common/data/migrations/versions/002_adding_name_column.py
  app/common/data/migrations/versions/003_add_mode_to_submission_table.py
  app/common/data/migrations/versions/004_expressions.py
  app/common/data/migrations/versions/005_userrole_unique_constraint.py
  app/common/data/migrations/versions/006_add_user_azure_ad_id.py
  app/common/data/migrations/versions/007_expression_unique_validation_and_key.py
  app/common/data/migrations/versions/008_make_ggis_number_required.py
  app/common/data/migrations/versions/009_unique_conditions.py
  app/common/data/migrations/versions/010_expression_managed_name.py
  app/common/data/migrations/versions/011_sync_role_enum.py
  app/common/data/migrations/versions/012_adding_invitations_table.py
  app/common/data/migrations/versions/013_data_sources.py
  app/common/data/migrations/versions/014_sync_data_type_enum.py
  app/common/data/migrations/versions/015_any_of_radios.py
  app/common/data/migrations/versions/016_add_yes_no_question.py
  app/common/data/migrations/versions/017_add_email_question_type.py
  app/common/data/migrations/versions/018_add_url_type.py
  app/common/data/migrations/versions/019_add_data_source_item_ref.py
  app/common/data/migrations/versions/020_add_question_options.py
  app/common/data/migrations/versions/021_add_collection_type.py
  app/common/data/migrations/versions/022_force_migrations.py
  app/common/data/migrations/versions/023_add_checkbox_question_type.py
  app/common/data/migrations/versions/024_add_specifically_mgd_exp.py
  app/common/data/migrations/versions/025_ds_item_key_case_insensitive.py
  app/common/data/migrations/versions/026_mv_question_component.py
  app/common/data/migrations/versions/027_add_group_type.py
  app/common/data/migrations/versions/028_remove_submission_status.py
  app/common/data/migrations/versions/029_reorder_and_reword_enums.py
  app/common/data/migrations/versions/030_new_presentation_options.py
  app/common/data/migrations/versions/031_support_guidance.py
  app/common/data/migrations/versions/032_form_collection_fk.py
  app/common/data/migrations/versions/033_nullable_sections.py
  app/common/data/migrations/versions/034_drop_all_sections.py
  app/common/data/migrations/versions/035_remove_sections.py
Due: mypy

FSPT-770 First pass implementation of a date type question. Accepts the date using only numbers (eg. 01 03 2024), basic validation (data required) and no expressions.
  .vscode/launch.json
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/002_add_date_type.py
  app/common/data/types.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/common/templates/common/partials/answers/date.html
Due: mypy, format-html

Allowing additional formats so users can type the short or long name of the month
  app/common/collections/forms.py
Due: mypy

Trying to store date as entered and then render back in the same format. The storage bit is working, but not yet displaying it back to the user in that format
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/helpers/collections.py
  app/common/templates/common/partials/answers/date.html
Due: mypy, format-html

Using isoformat for text and json exports
  app/common/collections/types.py
Due: mypy

FSPT-760: fix sync to dev pipeline
  .github/workflows/package.yml
Due: none

BAU: Correct GroupDisplayOptions enum to string val
  app/common/data/types.py
Due: mypy

FSPT-747: Add 1 question per page group to e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Make notification banners blue again
  app/assets/main.scss
Due: none

FSPT-747: Add submission export to e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

wip
  app/common/data/models.py
  app/common/expressions/__init__.py
  app/common/expressions/managed.py
  tests/integration/common/expressions/test_init.py
Due: mypy

blah
  tests/integration/common/expressions/test_init.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
