Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

Formatting approx date for export, with tests
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/forms/fields.py
  tests/unit/common/collections/test_types.py
Due: mypy

Fspt 770 approx date (#780)
  app/__init__.py
  app/common/collections/forms.py
  app/common/collections/types.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/expressions/managed.py
  app/common/filters.py
  app/common/forms/fields.py
  app/common/helpers/collections.py
  app/common/templates/common/partials/answers/date.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/partials/_advanced_formatting_options.html
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
  tests/unit/common/collections/test_types.py
  tests/unit/common/forms/test_fields.py
Due: mypy, format-html

Adding 2 new questions to the seeded grants using the new date type, including one that uses an approximate date
  app/developers/data/grants.json
Due: none

Updating all the date fields in the Communities for Afghans report to use the DATE data type
  app/developers/data/grants.json
Due: none

Bau add date to seeded grants (#782)
  app/developers/data/grants.json
Due: none

FSPT-590: use accessible autocomplete for question conditions
  app/deliver_grant_funding/forms.py
  tests/e2e/reports_pages.py
Due: mypy

WIP add another form runner pattern
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/helpers/collections.py
  app/common/qid.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/routes/runner.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/check_add_another.html
Due: mypy, format-html

FSPT-747: Add config for second e2e test user
  .env.example
  README.md
  tests/e2e/config.py
Due: mypy

FSPT-747: Preview report as grant team member
  README.md
  tests/e2e/conftest.py
  tests/e2e/dataclasses.py
  tests/e2e/pages.py
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Single place to build an ExpressionContext
  app/common/collections/runner.py
  app/common/helpers/collections.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

Strip down expression context even further
  app/common/collections/forms.py
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  tests/integration/common/expressions/test_init.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/expressions/test_expressions.py
Due: mypy

Interpolate context in question text/hints/guidance
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/collections/types.py
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/ask_a_question.html
  tests/integration/common/collections/test_collection_question_macro.py
  tests/integration/common/collections/test_forms.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_types.py
  tests/unit/common/expressions/test_expressions.py
Due: mypy, format-html

WIP: add another toggle for components
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/002_wip_add_another.py
  app/common/data/models.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: mypy, format-html

WIP works for any repeatable data type
  app/common/helpers/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: mypy, format-html

Refactor interpolation in Deliver grant funding
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/reports.py
Due: mypy

Move `insert data` button inside text/hint field
  app/assets/main.scss
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: mypy, format-html

Interpolate question.text on guidance page
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
Due: mypy, format-html

WIP: micro-journey for selecting some context
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_data_source.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_data_source_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Prevent enter/newlines in question text+hint boxes
  app/assets/js/textarea-no-newlines/index.js
  app/assets/js/textarea-no-newlines/index.test.js
  app/assets/main.js
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: mypy, format-html

Make the default submit save, rather than add data
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: format-html

Move `markdown_to_html` into deliver_grant_funding
  app/__init__.py
  app/assets/js/ajax-markdown-preview/index.js
  app/assets/js/ajax-markdown-preview/index.test.js
  app/common/api_routes.py
  app/common/forms/__init__.py
  app/common/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/__init__.py
  app/deliver_grant_funding/routes/api.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  app/deliver_grant_funding/types.py
  tests/integration/common/test_api_routes.py
  tests/integration/deliver_grant_funding/routes/test_api_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Interpolate guidance body, not heading
  app/common/expressions/__init__.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/common/collections/test_collection_question_macro.py
Due: mypy, format-html

Update preview guidance API endpoint to interpolate
  app/deliver_grant_funding/routes/api.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/deliver_grant_funding/routes/test_api_routes.py
Due: mypy, format-html

Insert data in guidance fields
  app/common/expressions/__init__.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Randomise azure ID so it doesn't clash
  app/developers/data/grants.json
Due: none

Refactor interpolation in Deliver grant funding
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Only wipe context session data on save
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Micro-journey for adding context to a question
  app/assets/main.scss
  app/common/helpers/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Satisfy pre-commit
  app/common/helpers/collections.py
Due: mypy

WIP: add another for structured groups
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_add_another.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/check_add_another.html
Due: mypy, format-html

Move the interpolation regex to a global
  app/common/expressions/__init__.py
Due: mypy

Update export/seed-grants for component references
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

Add table for component references
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/003_db_component_refs.py
  app/common/data/models.py
  app/common/expressions/__init__.py
  app/common/qid.py
  app/developers/commands.py
  tests/integration/common/collections/test_forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/models.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
