Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

Notes from quick huddle with Steven pre-story-writing
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/helpers/collections.py
Due: mypy

Writing integration tests for nested groups to check integrity rules: - on moving a question above/below a nested group with dependencies - on deleting a question with dependencies in a nested group
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

This renovate PR updated beautiful soup, and they have improved their type checking compatibility, so we don't need to cast this to Tag | None any more
  tests/utils.py
Due: mypy

Review comments: - typos - dodgy comments - grouping tests under a class
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-759 - nested groups integrity tests (#832)
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-852 adding add_another column to Component table, with update to the Question and Group factories, and a lil unit test
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/006_add_another.py
  app/common/data/models.py
  tests/models.py
  tests/unit/common/data/test_models.py
Due: mypy

Adding add_another_container property to component to find the component that contains this component in an add another context. With unit tests
  app/common/data/models.py
  tests/unit/common/data/test_models.py
Due: mypy

Adding helper function to determine whether a component can be created with add_another set to true, and raise an exception if not. With unit tests
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

Tweak to variable names in test for easier readability
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Updating update_submission_data to update data at a particular index if in the context of an add_another question
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Updated the collection factory to create a submission with an add another group, and a test that updates places within the add another answers and validates the whole add another group afterwards
  app/common/data/models.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-849 adding a function to remove a set of answers at a particular index in an add another component, with unit tests
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-849 adding a function to remove a set of answers at a particular index in an add another component, with unit tests (#836)
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

Replace ComplexExpressionException with InvalidReferenceException
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Refactor app-markdown-editor to context-aware-editor
  app/assets/css/context-aware-editor/_index.scss
  app/assets/css/markdown-editor-component/_index.scss
  app/assets/js/ajax-markdown-preview/index.js
  app/assets/js/ajax-markdown-preview/index.test.js
  app/assets/js/context-aware-editor/highlighting.js
  app/assets/js/context-aware-editor/index.js
  app/assets/js/context-aware-editor/index.test.js
  app/assets/js/context-aware-editor/toolbar.js
  app/assets/js/markdown-editor-toolbar/index.test.js
  app/assets/main.js
  app/assets/main.scss
  app/common/expressions/__init__.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/e2e/test_create_preview_collection.py
Due: mypy, format-html

Fix responsive font size for mobile view
  app/assets/css/context-aware-editor/_index.scss
Due: none

Fix double-click token behaviour for context-aware-editor
  app/assets/js/context-aware-editor/highlighting.js
Due: none

Refactor guidance text entry for reliability
  tests/e2e/reports_pages.py
Due: mypy

Refactor e2e test helper naming
  tests/e2e/test_create_preview_collection.py
Due: mypy

Stop adding redundant UUIDs to e2e tests
  tests/e2e/test_create_preview_collection.py
Due: mypy

Prepare to allow interpolation in e2e tests
  tests/e2e/test_create_preview_collection.py
Due: mypy

Use question names instead of text for test IDs
  app/common/templates/common/partials/answers/date.html
  app/common/templates/common/partials/answers/email.html
  app/common/templates/common/partials/answers/integer.html
  app/common/templates/common/partials/answers/multiple_choice_from_list.html
  app/common/templates/common/partials/answers/root.html
  app/common/templates/common/partials/answers/single_choice_from_list.html
  app/common/templates/common/partials/answers/url.html
  app/common/templates/common/partials/answers/yes_no.html
  tests/e2e/test_create_preview_collection.py
Due: mypy, format-html

Add interpolation to e2e test
  tests/e2e/test_create_preview_collection.py
Due: mypy

Add new interpolation to e2e test
  tests/e2e/test_create_preview_collection.py
Due: mypy

Disable man-db triggers to speed up github actions
  .github/workflows/run_e2e_tests.yml
  .github/workflows/run_e2e_tests_docker_compose.yml
Due: none

make job name consistent
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

FSPT-848: use heroku buildpack
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/package.yml
  .slugingore
Due: none

FSPT-848: Switch to heroku buildpack (#840)
  .github/workflows/ad_hoc_dev_deploy.yml
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/package.yml
  .slugingore
Due: none

Checking structure of breadcrumb on edit question page in e2e tests
  .gitignore
  tests/e2e/test_create_preview_collection.py
Due: mypy

Adding a macro to render the breadcrumb in deliver grant funding in a consistent way so that we don't duplicate the visually hidden items for the breadcrumbs on every page
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/deliver_grant_funding_reports_breadcrumb.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
Due: format-html

FSPT-860 truncating the breadcrumb for nested groups to use an ellipsis for any items between task and immediate parent. Also updating the html to work better for screen readers on the breadcrumb
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: format-html

Fspt 860 breadcrumb ellipsis (#842)
  .gitignore
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/deliver_grant_funding_reports_breadcrumb.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_question_group_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/e2e/test_create_preview_collection.py
Due: mypy, format-html

typo fix for ul/ol list items
  tests/e2e/test_create_preview_collection.py
Due: mypy

E2E test that inserts data into a question's hint
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Fix redirects when adding data to new questions
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Wait for this autocomplete to initialise
  tests/e2e/reports_pages.py
Due: mypy

Fix `group_name_exists`
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Fix inserting data into question group guidance
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/models.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

FSPT-781: Integrate add context flow for GreaterThan
  app/common/expressions/forms.py
  app/common/expressions/managed.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/greater_than.html
Due: mypy, format-html

FSPT-781: Add context for LessThan & Between
  app/common/expressions/managed.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/between.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/managed_expressions/less_than.html
Due: mypy, format-html

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
