Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

Handle ComplexExpressionException
  app/common/data/interfaces/collections.py
  app/common/expressions/__init__.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/collections/test_collection_question_macro.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Interpolate question/group text in dependency errors
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: mypy, format-html

Add exceptions to interfaces to help rollback consistently
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/common/data/interfaces/grants.py
  app/common/data/interfaces/user.py
  tests/integration/common/data/interfaces/test_exceptions.py
Due: mypy

Add flush+rollback decorator to all mutation interfaces
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/magic_link.py
  app/common/data/interfaces/user.py
Due: mypy

Contex MoveSources enum onto ExpressionContext
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Rename error and field
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/exceptions.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Check for valid expression references
  app/common/data/interfaces/collections.py
  app/common/expressions/__init__.py
  app/common/qid.py
  app/deliver_grant_funding/routes/reports.py
  app/developers/commands.py
  tests/integration/common/collections/test_forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

Fix tests and tighten up assertions
  tests/integration/deliver_grant_funding/routes/test_grant_details.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/test_helpers.py
  tests/utils.py
Due: mypy

Move context builder onto ExpressionContext
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/session_models.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Add tests for checking component references on add/edit question+group
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Prevent breaking referential integrity between components
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

Adding tests: - Updating presentation options for parent of nested groups - adding nested groups over the max level of nesting - adding nested groups to a group with display set to all on same page
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Refactoring exception handling to use custom exception
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Fixes after rebase
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Review comments - renamed property on group from is_allowed_nested_groups -> can_have_child_group
  app/common/data/interfaces/collections.py
  app/common/data/models.py
Due: mypy

FSPT-759 Single level of nested groups (#799)
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/config.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/group_nesting_error_banner.html
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_group_display_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/types.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
Due: mypy, format-html

Fix nested groups attribute
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Prevent using questions from later in the task
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

BAU: Interpolate contextual info in more places
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_validation.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  app/developers/access_routes.py
  app/developers/templates/developers/access/ask_a_question.html
Due: mypy, format-html

BAU: Strip empty space from single/multi line text inputs
  app/common/collections/forms.py
Due: mypy

Change check-your-answers page to full width
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/check_your_answers.html
  app/developers/templates/developers/access/check_your_answers.html
Due: format-html

Redirect to group when editing a question in a group
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

Adding a nested group to seeded grants: (#810)
  app/developers/data/grants.json
Due: none

Add docstring to is_valid_reference
  app/common/expressions/__init__.py
Due: mypy

Detect out-of-order references during interface validation
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

Consistently clear questions/components cache for tests
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-780: Prevent same-paging questions that refer to each other
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

Fix Cancel URL for second page of insert data journey
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/select_context_source_question.html
Due: format-html

BAU: Don't allow questions to reference themselves
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Remove param from `build_expression_context`
  app/common/expressions/__init__.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/api.py
  app/deliver_grant_funding/routes/reports.py
  app/developers/access_routes.py
  app/developers/commands.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

Track data source item references via ComponentReference
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/004_migrate_data_source_refs.py
  app/common/data/models.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
Due: mypy

Fix exporting all component references
  app/developers/commands.py
Due: mypy

Update exported grants.json
  app/developers/data/grants.json
Due: none

Remove code use of data source item references
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/developers/commands.py
  app/developers/data/grants.json
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/models.py
Due: mypy

FSPT-821: Drop data source item reference table
  app/common/data/migrations/versions/004_migrate_data_source_refs.py
  app/common/data/migrations/versions/005_drop_dsir_table.py
Due: mypy

Adding e2e test that creates a nested group, and then completes those questions, checks on check yor answers and on view reports
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Update alembic head to run migrations
  app/common/data/migrations/.current-alembic-head
Due: none

WIP
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/runner/check_add_another.html
Due: mypy, format-html

Adding e2e test that creates a nested group, and then completes those questions, checks on check yor answers and on view reports (#828)
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Writing integration tests for nested groups to check integrity rules
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
