Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip: ["mypy", "format-html"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.3
    hooks:
      - id: import-linter

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [python]
        entry: uv run mypy
        pass_filenames: false
      - id: format-html
        name: Format Jinja HTML templates with Prettier
        entry: make format-html
        language: node
        files: \.html$
        additional_dependencies:
          - 'prettier@3.6.2'
          - 'prettier-plugin-jinja-template@2.1.0'
        pass_filenames: false

Flash message after creating a question
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_question.html
  app/types.py
Due: mypy, format-html

Rename variable
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_team/grant_user_list.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
Due: format-html

Add explicit email and URL answer types
  app/common/collections/types.py
  app/common/helpers/collections.py
  app/common/templates/common/partials/answers/email.html
  app/common/templates/common/partials/answers/url.html
Due: mypy, format-html

Refactor on answer classes
  app/common/collections/types.py
  app/common/data/interfaces/collections.py
  app/common/helpers/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/models.py
  tests/unit/common/collections/test_runner.py
  tests/unit/common/collections/test_types.py
Due: mypy

WIP: FSPT-687: Support a divided final option for radios
  app/common/collections/forms.py
  app/common/data/base.py
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/019_add_question_options.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/forms/fields.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/edit_question.html
  tests/unit/common/collections/test_forms.py
Due: mypy, format-html

Keep users in answer flow when revealing new questions
  app/common/collections/runner.py
  tests/unit/common/collections/test_runner.py
Due: mypy

BAU: fixup flakey auto complete test
  tests/e2e/developer_pages.py
Due: mypy

Improving performance on the generate CSV function by creating a specific interface to retrieve all answer and question data at once. Also includes some performance testing utilities and write up
  README.md
  app/common/data/interfaces/collections.py
  app/common/helpers/collections.py
  app/developers/commands.py
  tests/integration/common/helpers/test_collections.py
  tests/models.py
Due: mypy

Tweak wording for sections/forms/tasks
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/routes.py
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

Improving performance on the generate CSV function (#521)
  README.md
  app/common/data/interfaces/collections.py
  app/common/helpers/collections.py
  app/developers/commands.py
  tests/integration/common/helpers/test_collections.py
  tests/models.py
Due: mypy

FSPT-673: Add DataSourceItemReference table
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/019_add_data_source_item_ref.py
  app/common/data/models.py
Due: mypy

FSPT-673: Add & update referenced data source items
  app/common/data/interfaces/collections.py
  app/common/expressions/managed.py
Due: mypy

FSPT-673: Catch data source references and flash error
  app/common/data/interfaces/collections.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  app/types.py
Due: mypy, format-html

Prioritise tasks over sections in form creation
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/templates/common/macros/collections.html
  app/config.py
  app/constants.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/select_form_type.html
  pyproject.toml
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

Allow moving tasks between sections
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_form.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

Flatten manage/edit section
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_section.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_section.html
Due: mypy, format-html

Tweak section/unsectioned behaviour
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_section.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/integration/test_fixtures.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Remove unused "manage section" endpoint
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/manage_section.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Refactor the 'manage collection' page with no tasks
  app/constants.py
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/select_form_type.html
Due: mypy, format-html

play around with drag/drop move for sections+tasks
  app/assets/main.js
  app/assets/main.scss
  app/developers/templates/developers/deliver/manage_collection.html
  package-lock.json
  package.json
Due: format-html

Make "Not answered" more like NOT_ASKED
  app/common/collections/types.py
  app/common/helpers/collections.py
Due: mypy

spike: extends question model with type and context
  app/common/data/models.py
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
Due: mypy

spike: add group page and interface
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

spike: question groups are rendered and can move up and down
  app/common/data/models.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

wip: spike: allow questions to contain question children
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

(very) WIP: routing and dependency logic works nested
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/developers/commands.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/_add_question_condition_context.html
  app/developers/templates/developers/deliver/add_question_condition_select_question.html
  app/developers/templates/developers/deliver/manage_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/manage_question_validation.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/unit/common/collections/test_runner.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

WIP: getting into addings groups to groups
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
Due: mypy, format-html

WIP: manage groups page
  app/common/templates/common/macros/move-up-down-table.html
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_group.html
  app/developers/templates/developers/deliver/macros/list_questions.html
  app/developers/templates/developers/deliver/manage_form.html
Due: mypy, format-html

WIP: support same page questions (default all groups same page)
  app/common/collections/forms.py
  app/common/collections/runner.py
  app/common/data/models.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
  tests/integration/common/collections/test_forms.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/collections/test_runner.py
Due: mypy, format-html

WIP: only show same page when configured
  app/common/data/interfaces/collections.py
  app/common/data/models.py
Due: mypy

WIP: same page behaviour toggles
  app/common/data/models.py
  app/developers/deliver_routes.py
  app/developers/forms.py
  app/developers/templates/developers/deliver/edit_group.html
  app/developers/templates/developers/deliver/edit_group_page_layout.html
Due: mypy, format-html

WIP migrate post rebase
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/019_spike_groups.py
  app/common/templates/common/macros/collections.html
  app/developers/templates/developers/deliver/add_group.html
Due: mypy, format-html

BAU: set more realistic question names for seed
  app/developers/data/grants.json
Due: none

Format datetime nicely for CSV export
  app/common/helpers/collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/test_routes.py
Due: mypy

Allow URLs without a protocol in answers
  app/common/collections/forms.py
  app/common/forms/validators.py
  tests/e2e/test_developer_journey.py
  tests/unit/common/collections/test_forms.py
  tests/unit/common/forms/test_validators.py
Due: mypy

added new yml file to deloy app runner
  .github/workflows/ci_ecr_deploy.yml
Due: none

added a new line
  .github/workflows/package_push_ci.yml
Due: none

added a new line
  .github/workflows/ci_ecr_deploy.yml
Due: none

added a new yaml file for the ci account
  .github/workflows/package_push_ci.yml
Due: none

comment out dev job
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none
