Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip: ["mypy", "format-html"]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.13
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.3
    hooks:
      - id: import-linter

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [python]
        entry: uv run mypy
        pass_filenames: false
      - id: format-html
        name: Format Jinja HTML templates with Prettier
        entry: make format-html
        language: node
        files: \.html$
        additional_dependencies:
          - 'prettier@3.6.2'
          - 'prettier-plugin-jinja-template@2.1.0'
        pass_filenames: false

FSPT-605: read nested schema, loaders for consistent parsing
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/helpers/collections.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-605: remove nested group check and cover conditions
  app/common/collections/runner.py
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/models.py
  app/common/helpers/collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-605: rename question dependency check interface
  app/common/data/interfaces/collections.py
  app/developers/deliver_routes.py
  app/developers/forms.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-605: add coverage for nested question properties
  app/common/data/models.py
  app/common/helpers/collections.py
  tests/conftest.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

FSPT-605: add group handler and template support
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_group.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-605: don't rely on template context for macros
  app/common/templates/common/macros/move-up-down-table.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
Due: format-html

FSPT-605: allow adding flat questions to groups
  app/common/data/interfaces/collections.py
  app/common/templates/common/macros/move-up-down-table.html
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/manage_form_questions.html
Due: mypy, format-html

FSPT-744: add/edit question pages in reports tab
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/e2e/developer_pages.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/developers/test_deliver_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

FSPT-744: add+edit conditions and validation
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_render_managed_expression_form.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_validation.html
  app/developers/deliver_routes.py
  app/developers/forms.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

Fix missing self params in tests
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Reports tab design tweaks
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_report_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_validation.html
Due: format-html

"None of the above" -> "Other"
  app/assets/main.js
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/developers/data/grants.json
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
  tests/integration/common/data/test_models.py
  tests/unit/common/forms/test_validators.py
Due: mypy, format-html

tweaks to add+edit question pages
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/e2e/developer_pages.py
Due: mypy, format-html

Re-order question data types
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/029_reorder_and_reword_enums.py
  app/common/data/types.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/choose_question_type.html
  tests/e2e/developer_pages.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/developers/test_deliver_routes.py
Due: mypy, format-html

Re-export grants
  app/developers/data/grants.json
Due: none

FSPT-606: update seed commands to understand groups
  app/developers/commands.py
Due: mypy

FSPT-606: seed an example question group
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

FSPT-606: add end to end steps for adding a group
  app/common/templates/common/macros/move-up-down-table.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
Due: mypy, format-html

Disable preview task button if no questions
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
Due: format-html

Content updates from mobbing
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/change_form_name.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_form.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_validation.html
  app/developers/templates/developers/deliver/add_form.html
  app/developers/templates/developers/deliver/add_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/manage_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/manage_question_validation.html
  tests/e2e/developer_pages.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Remove unused package permissions
  .github/workflows/deploy.yml
  .github/workflows/package.yml
Due: none

Phase 2 content changes
  app/assets/main.scss
  app/common/expressions/managed.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/developers/deliver_routes.py
  app/developers/forms.py
  app/developers/templates/developers/deliver/add_question_condition_select_question.html
  app/developers/templates/developers/deliver/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-727: Add and update tests for report previews
  app/common/collections/runner.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
  tests/integration/deliver_grant_funding/test_helpers.py
  tests/integration/developers/test_deliver_routes.py
  tests/models.py
Due: mypy

Advanced formatting options
  app/common/collections/forms.py
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/030_new_presentation_options.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/partials/_advanced_formatting_options.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/unit/common/collections/test_forms.py
Due: mypy, format-html

Hide empty summary list before validation button
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
Due: format-html

Re-export grants for presentation options
  app/deliver_grant_funding/forms.py
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

WIP: submission helper doesn't recalculate visible questions
  app/common/helpers/collections.py
Due: mypy

Bit of thinking about surfacing grant names
  app/access_grant_funding/templates/access_grant_funding/base.html
  app/assets/main.scss
  app/common/templates/common/partials/navigation.html
  app/deliver_grant_funding/templates/deliver_grant_funding/base.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_base.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_details.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_setup/grant_change_ggis.html
  app/deliver_grant_funding/templates/deliver_grant_funding/grant_team/grant_user_list.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_task.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_reports.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/set_up_report.html
  app/developers/templates/developers/deliver/add_collection.html
  app/developers/templates/developers/deliver/grant_developers.html
Due: format-html

Prevent prefix+suffix from storing empty strings
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/templates/deliver_grant_funding/partials/_advanced_formatting_options.html
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy, format-html

Save and render prefixes and suffixes for numbers
  app/__init__.py
  app/common/collections/types.py
  app/common/filters.py
  app/common/helpers/collections.py
  app/common/templates/common/partials/answers/integer.html
  tests/integration/common/helpers/test_collections.py
  tests/models.py
  tests/unit/common/collections/test_types.py
Due: mypy, format-html

Update .github/workflows/ad_hoc_dev_deploy.yml
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

Add weekly scheduled run
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

add workflow for ad-hoc dev deployment
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

tweak title and steps
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

remove explicit truth check as not needed
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

only run docker tests when e2e tests input is true
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

FSPT-517: Add workflow to deploy ad-hoc branches to dev (#635)
  .github/workflows/ad_hoc_dev_deploy.yml
Due: none

remove hard dependency on docker tests for test deploy (we already run this on PRs)
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

added code to enable prod pipeline deployment
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none

fix pre-commit error
  .github/workflows/build_deploy_e2e_pipeline.yml
Due: none
