Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

removed ghcr from the code
  .github/workflows/package.yml
Due: none

Test that collections come with a default section
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Limit radio questions to 100 items
  app/config.py
  app/deliver_grant_funding/forms.py
  tests/unit/deliver_grant_funding/test_forms.py
Due: mypy

Remove waiter
  scripts/update-ecs-task-image.py
Due: mypy

add shebang
  .github/workflows/deploy.yml
  scripts/update-ecs-task-image.py
Due: mypy

removed unused block
  .github/workflows/package.yml
Due: none

FSPT-673: Add DataSourceItemReference table
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/019_add_data_source_item_ref.py
  app/common/data/models.py
Due: mypy

FSPT-673: Add & update referenced data source items
  app/common/data/interfaces/collections.py
  app/common/expressions/managed.py
Due: mypy

FSPT-673: Catch data source references and flash error
  app/common/data/interfaces/collections.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  app/types.py
Due: mypy, format-html

FSPT-637: Update tests and seed exports
  app/developers/commands.py
  app/developers/data/grants.json
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/models.py
Due: mypy

make script executable
  scripts/update-ecs-task-image.py
Due: mypy

fix help text
  scripts/update-ecs-task-image.py
Due: mypy

Use AWS CI account for shared ECR (#494)
  .github/workflows/build_deploy_e2e_pipeline.yml
  .github/workflows/deploy.yml
  .github/workflows/package.yml
  package-lock.json
  package.json
  scripts/update-ecs-task-image.py
Due: mypy

Update content more in line with prototype
  app/common/templates/common/partials/mhclg-test-banner.html
  app/developers/templates/developers/access/collection_submit_confirmation.html
  app/developers/templates/developers/access/collection_tasklist.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  app/developers/templates/developers/deliver/manage_submission.html
  tests/e2e/developer_pages.py
Due: mypy, format-html

remove latest tagging
  .github/workflows/package.yml
Due: none

Update export-grants script and save
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

Add a question that uses the 'None of the above' option
  app/developers/data/grants.json
Due: none

FSPT-687: Support a divided final option for radios
  .idea/funding-service.iml
  app/common/collections/forms.py
  app/common/data/base.py
  app/common/data/interfaces/collections.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/020_add_question_options.py
  app/common/data/models.py
  app/common/data/types.py
  app/common/forms/fields.py
  app/deliver_grant_funding/forms.py
  app/developers/deliver_routes.py
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/edit_question.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/unit/common/collections/test_forms.py
Due: mypy, format-html

Add test for MHCLGRadioInput and change default behaviour
  .idea/funding-service.iml
  app/common/forms/fields.py
  app/developers/commands.py
  tests/integration/common/data/test_models.py
  tests/models.py
  tests/unit/common/forms/test_fields.py
Due: mypy

squash: options->presentation_options
  app/common/data/base.py
  app/common/data/interfaces/collections.py
  app/common/data/migrations/versions/020_add_question_options.py
  app/common/data/models.py
  app/common/data/types.py
  app/developers/commands.py
  app/developers/data/grants.json
  app/developers/deliver_routes.py
  tests/e2e/test_developer_journey.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/models.py
Due: mypy

Make the "fallback option" for accessible autocomplete always visible
  app/assets/main.js
  app/common/collections/forms.py
  app/common/forms/fields.py
Due: mypy

Refactor e2e test questions for multiple of same type
  tests/e2e/test_developer_journey.py
Due: mypy

Improve diff on grants.json export
  app/developers/commands.py
  app/developers/data/grants.json
Due: mypy

Disable sections functionality
  app/config.py
Due: mypy

Fix "None of the above" default for radios
  app/common/data/models.py
  app/deliver_grant_funding/forms.py
  tests/integration/common/data/test_models.py
Due: mypy

FSPT-685: Pull data source item choices for expressions from DB
  app/common/data/interfaces/collections.py
  app/common/expressions/__init__.py
  app/common/expressions/managed.py
  app/developers/data/grants.json
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/expressions/test_managed.py
  tests/models.py
Due: mypy

Make risk to life question a real 'yes/no'
  app/developers/data/grants.json
Due: none

Remove sections from sample grant
  app/developers/data/grants.json
Due: none

BAU: Fix data source item dependency exception
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Tweaks
  app/common/expressions/managed.py
  app/developers/data/grants.json
Due: mypy

BAU: Fix auth 500 error
  app/__init__.py
  app/common/auth/decorators.py
  tests/integration/common/auth/test_decorators.py
Due: mypy

BAU: Add 500 error template and top-level handling
  app/__init__.py
  app/common/templates/common/errors/500.html
  tests/integration/conftest.py
  tests/integration/test_app.py
Due: mypy, format-html

WIP validate developer experience
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/020_rename_questions.py
  app/common/data/models.py
  app/common/data/types.py
  tests/models.py
Due: mypy

Refer to 'reports' instead of 'collections'
  app/deliver_grant_funding/forms.py
  app/developers/templates/developers/deliver/add_collection.html
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
  tests/integration/deliver_grant_funding/test_routes.py
Due: mypy, format-html

move faker import inline
  app/developers/commands.py
Due: mypy

Exclude dev dependencies from packaging
  .github/workflows/package.yml
Due: none

only import flask_debugtoolbar when installed
  app/__init__.py
  app/extensions/__init__.py
Due: mypy

Refactor deliver grant funding routes
  app/constants.py
  app/deliver_grant_funding/routes.py
  app/deliver_grant_funding/routes/__init__.py
  app/deliver_grant_funding/routes/grant_details.py
  app/deliver_grant_funding/routes/grant_setup.py
  app/deliver_grant_funding/routes/grant_team.py
  app/deliver_grant_funding/routes/misc.py
Due: mypy

Move tests to match refactored DGF files
  .idea/funding-service.iml
  tests/integration/deliver_grant_funding/__init__.py
  tests/integration/deliver_grant_funding/routes/__init__.py
  tests/integration/deliver_grant_funding/routes/test_grant_details.py
  tests/integration/deliver_grant_funding/routes/test_grant_setup.py
  tests/integration/deliver_grant_funding/routes/test_grant_team.py
  tests/integration/deliver_grant_funding/routes/test_misc.py
  tests/integration/deliver_grant_funding/test_routes.py
  tests/integration/developers/__init__.py
  tests/integration/developers/test_deliver_routes.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
