Repository communitiesuk/funding-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, format-html

mypy:
  name: Run type checks
  language: system
  entry: uv run mypy
  pass_filenames: false

format-html:
  name: Format Jinja HTML templates with Prettier
  entry: make format-html
  language: node
  additional_dependencies:
  - prettier@3.6.2
  - prettier-plugin-jinja-template@2.1.0
  pass_filenames: false

FSPT-751: FIX: visually hidden text on question table
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: format-html

FSPT-751: add conditions to the list group questions page
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_question_condition_select_condition_type.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-751: make move/up down dependency banner specific to context
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/dependency_banner.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
Due: mypy, format-html

FSPT-751: update integrity checks to compare moving groups
  app/common/data/interfaces/collections.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

FSPT-747: Extract e2e additional formatting function
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

FSPT-747: Add Question Guidance to e2e tests
  tests/e2e/dataclasses.py
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

BAU: Strip empty characters from email & url inputs
  app/common/collections/forms.py
  tests/integration/common/collections/test_forms.py
Due: mypy

BAU: Remove pending invitations for platform admins
  app/common/data/interfaces/user.py
  tests/integration/common/auth/test_auth.py
  tests/integration/common/data/interfaces/test_user.py
Due: mypy

Bin all of the developer pages around reports
  app/common/collections/runner.py
  app/developers/deliver_routes.py
  app/developers/forms.py
  app/developers/helpers.py
  app/developers/templates/developers/deliver/_add_question_condition_context.html
  app/developers/templates/developers/deliver/_render_managed_expression_form.html
  app/developers/templates/developers/deliver/add_collection.html
  app/developers/templates/developers/deliver/add_form.html
  app/developers/templates/developers/deliver/add_group.html
  app/developers/templates/developers/deliver/add_question.html
  app/developers/templates/developers/deliver/add_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/add_question_condition_select_question.html
  app/developers/templates/developers/deliver/add_section.html
  app/developers/templates/developers/deliver/ask_a_question.html
  app/developers/templates/developers/deliver/check_your_answers.html
  app/developers/templates/developers/deliver/choose_question_type.html
  app/developers/templates/developers/deliver/collection_tasklist.html
  app/developers/templates/developers/deliver/edit_question.html
  app/developers/templates/developers/deliver/grant_developers.html
  app/developers/templates/developers/deliver/list_sections.html
  app/developers/templates/developers/deliver/list_submissions.html
  app/developers/templates/developers/deliver/macros/component_table.html
  app/developers/templates/developers/deliver/macros/dependency_banner.html
  app/developers/templates/developers/deliver/manage_collection.html
  app/developers/templates/developers/deliver/manage_collection_tasks.html
  app/developers/templates/developers/deliver/manage_form.html
  app/developers/templates/developers/deliver/manage_form_questions.html
  app/developers/templates/developers/deliver/manage_question_condition_select_condition_type.html
  app/developers/templates/developers/deliver/manage_question_validation.html
  app/developers/templates/developers/deliver/manage_section.html
  app/developers/templates/developers/deliver/manage_submission.html
  app/developers/templates/developers/deliver/select_form_type.html
  tests/e2e/developer_pages.py
  tests/e2e/test_developer_journey.py
  tests/integration/developers/test_deliver_routes.py
  tests/unit/test_all_routes_access.py
Due: mypy, format-html

BAU: bump govuk frontend version
  package-lock.json
  package.json
Due: none

BAU: organise dev frontend dependencies
  package-lock.json
  package.json
Due: none

FSPT-753: link forms to collections directly
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/temporary.py
  app/common/data/migrations/.current-alembic-head
  app/common/data/migrations/versions/032_form_collection_fk.py
  app/common/data/models.py
  tests/integration/common/data/interfaces/test_collections.py
  tests/models.py
Due: mypy

FSPT-715: only manage guidance text on question groups when same page
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/deliver_grant_funding/routes/test_runner.py
Due: mypy, format-html

FSPT-751: tweak guidance routes to handle groups
  app/assets/main.scss
  app/common/data/interfaces/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/manage_guidance.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-751: tweak question groups page content and order
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/e2e/reports_pages.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Phase 2 content changes
  app/assets/main.scss
  app/common/expressions/managed.py
  app/deliver_grant_funding/forms.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/_add_question_condition_context.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/add_question_condition_select_question.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

BAU: tweak conditions content
  app/deliver_grant_funding/forms.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy

move raising a deletion warning to before the delete action
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

BAU: use a bulleted list for questions to address before deleting
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/edit_question.html
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

FSPT-747: Add Between validation type to e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

FSPT-747: Add Conditions and branching to e2e tests
  tests/e2e/reports_pages.py
  tests/e2e/test_create_preview_collection.py
Due: mypy

Add JSON export format and functionality
  app/common/collections/types.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
Due: mypy, format-html

Add test and remove broken disabled attributes
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_submissions.html
  tests/integration/common/helpers/test_collections.py
Due: mypy, format-html

Allow exporting grants to stdout
  app/developers/commands.py
Due: mypy

Re-export grants with collection links
  app/developers/data/grants.json
Due: none

Add faker as a main dependency for exporting grants
  pyproject.toml
  uv.lock
Due: none

Allow duplicating a question group
  app/common/data/interfaces/temporary.py
  app/common/data/interfaces/very_temporary.py
  app/deliver_grant_funding/routes/reports.py
  app/deliver_grant_funding/templates/deliver_grant_funding/macros/question_table.html
Due: mypy, format-html

cache calls to get_ordered_nested_components
  app/common/data/models.py
  tests/unit/common/data/test_models.py
Due: mypy

Cache questions on CollectionHelper instantiation
  app/common/helpers/collections.py
Due: mypy

WIP
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/helpers/collections.py
Due: mypy

BAU: cache commonly accessed form properties for helpers
  app/common/data/interfaces/collections.py
  app/common/data/models.py
  app/common/expressions/registry.py
  app/common/helpers/collections.py
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_group_questions.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_report_tasks.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/list_task_questions.html
  tests/integration/common/data/interfaces/test_collections.py
  tests/integration/common/data/test_models.py
  tests/integration/common/expressions/test_registry.py
  tests/integration/common/helpers/test_collections.py
  tests/integration/deliver_grant_funding/routes/test_reports.py
  tests/integration/test_fixtures.py
  tests/unit/common/data/test_models.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

BAU: cached properties for submission helper
  app/common/collections/runner.py
  app/common/helpers/collections.py
  tests/integration/common/helpers/test_collections.py
  tests/unit/common/helpers/test_collections.py
Due: mypy

BAU: add lru caches to method
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/integration/common/helpers/test_collections.py
  tests/integration/test_fixtures.py
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

BAU: other expensive helper method lru caches
  app/common/collections/runner.py
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

WIP: dont lazy load expressions on form pages
  app/common/data/interfaces/collections.py
Due: mypy

Strip sections concept out of the submissions helper
  .idea/funding-service.iml
  app/common/helpers/collections.py
  app/common/templates/common/macros/collections.html
  app/deliver_grant_funding/templates/deliver_grant_funding/reports/view_submission.html
  tests/unit/common/helpers/test_collections.py
Due: mypy, format-html

Remove unused move-up-down-table.html
  app/common/templates/common/macros/move-up-down-table.html
Due: format-html

Remove has_non_default_sections property
  app/common/data/models.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Remove unused temporary interfaces
  app/common/data/interfaces/temporary.py
Due: mypy

Ignore sections between Forms and Collections in queries
  .idea/funding-service.iml
  app/common/data/interfaces/collections.py
  app/common/data/interfaces/grants.py
  app/deliver_grant_funding/routes/reports.py
  tests/integration/common/data/interfaces/test_collections.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  format-html: any of: \.html$
